@page
@model ScheduleTest.Pages.SignUpModel
<div class="col-lg-3 col-md-6 mb-4 align-self-md-center">
    <form>
        <label>Name of Group:</label>
        <input />
        <br />

        <label>Size of Group:</label>
        <input />
        <br />

        <label>Email Address:</label>
        <input />
        <br />

        <label>Phone Number:</label>
        <input />
        <br />
        <br />

        <button type="submit" class="btn-success btn-sm pull-right">Make Reservation</button>
    </form>
</div>