@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Appointment>
<div class="text-center">
    <h1 class="display-4">Sign Up</h1>
</div>


@foreach (var x in Model)
{
    @if (x.Day == "Monday")
    {
        <div class="text-center">
            <div class="card h-100">
                <div class="card-body border-dark" style="border-color: coral">
                    <h4 class="card-title">@x.Day - @x.Time</h4>


                    <form asp-action="Availability" method="post">
                        <input type="hidden" name="appointmentId" value="@x.AppointmentId" />
                        <button type="submit" class="btn-primary btn-sm">Schedule</button>
                    </form>

                </div>
            </div>
        </div>
     }

}
