@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Appointment>
<div class="text-center">
    <h1 class="display-4">Sign Up</h1>
</div>


@foreach (var x in Model)
{
    <div class="col-lg-3 col-md-6 mb-4 align-self-md-center text-center">
        <div class="card h-100">
            <div class="card-body border-dark" style="border-color: coral">
                <h4 class="card-title">@x.Day - @x.Time</h4>


                <form asp-action="SignUp" method="post">
                    <input type="hidden" name="appointmentId" value="@x.AppointmentId" />
                    <button type="submit" class="btn-primary btn-sm">Schedule</button>
                </form>

            </div>
        </div>
    </div>
}
