@model ScheduleTest.Models.SignUpInfo

<div class="text-center">
    <h1>The tour you have selected is:</h1>
    <h3>@TempData["ApptDay"] - @TempData["ApptTime"]</h3>
    <div>
        <form asp-action="SignUp" method="post">
            <label asp-for="GroupName">Name of Group:</label>
            <input asp-for="GroupName" />
            <br />

            <label asp-for="GroupSize">Size of Group:</label>
            <input asp-for="GroupSize" />
            <br />

            <label asp-for="Email">Email Address:</label>
            <input asp-for="Email" />
            <br />

            <label asp-for="PhoneNumber">Phone Number:</label>
            <input asp-for="PhoneNumber" />
            <br />
            <br />

            <input type="hidden" asp-for="GroupDay" value="@TempData["ApptDay"]" />
            <input type="hidden" asp-for="GroupTime" value="@TempData["ApptTime"]" />

            <button type="submit" class="btn-primary btn-sm">Make Reservation</button>

            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>
